<div id="conversations-page">

        <div class="row">

            <% if @friend != current_user %>
            <div class="col s12 m6 offset-m3 l5 push-l7">
                <div class="mdl-card friend-card mdl-shadow--2dp">
                    <div class="mdl-card__header-bg">
                        <h4><%= @friend.name %></h4>
                        <%= display_avatar(@friend, size: 1000, type: :large) %>
                    </div>
                    <div class="mdl-card__bottom">
                        <% if current_user.friends.include?(@friend) %>
                            <%= link_to "Unfriend", user_friends_delete_path(current_user, friend_id: @friend.id),
                                action: "destroy",
                                method: :delete, data: { confirm: "Are you sure?" },
                                class: "btn waves-effect btn-light" %>
                        <% else %>
                            <%= link_to "Send request", user_friends_request_path(current_user, friend_id: @friend.id),
                                action: "send_request",
                                method: :post,
                                class: "btn waves-effect btn-light green darken-4" %>
                        <% end %>
                        <%= link_to "See Profile", user_dashboard_path(@friend),
                            class: "btn waves-effect btn-light light-blue darken-4" %>
                    </div>
                </div>
            </div>
            <% end %>

            <div class="col s12 l7 pull-l5">
                <div class="row scrollspy">
                    <% @conversation.receipts_for(current_user).each do |receipt| %>
                        <div class="col s12">
                            <div class='mdl-card mdl-shadow--2dp card-message card-<%= "#{ receipt.mailbox_type }" %>'>
                                <div class="mdl-card__padding">
                                    <div class="card-message__header">
                                        <%= display_avatar(receipt.message.sender, size: 200, type: :thumb) %>
                                        <div class="card-message__header-info">
                                            <h5><strong><%= receipt.message.sender.name %></strong></h5>
                                            <p><%= receipt.message.body %></p>
                                        </div>
                                    </div>
                                    <div class="card-message__date">
                                        <p><small><%= time_ago_in_words(receipt.message.created_at) %> ago</small></p>
                                    </div>
                                    <div class="card-message__actions"></div>
                                </div>
                            </div>
                        </div>
                    <% end %>

                </div>
            </div>
        </div>
</div>

<%= form_tag user_conversation_messages_path(current_user, @conversation), method: :post do %>
    <div class="">
        <%= text_area_tag :body %>
    </div>
    <%= submit_tag %>
<% end %>
