<div id="dashboard-page">

    <div class="parallax-container">

        <div class="parallax">
            <%= image_tag("friends-page") %>
        </div>

        <div class="bg-overlay">
            <div class="parallax-perfil__container">
                <div class="container">
                    <div class="row">
                        <div class="col s12 m2">
                            <%= display_avatar(@user, size: 1000, type: :large) %>
                        </div>
                        <div class="col s12 m7">
                            <h4 class="info-name"><%= @user.name %></h4>
                            <h5 class="info-email"><%= @user.email %></h5>
                            <% status = (@user.status) ? "Online" : "Offline" %>
                            <div class='chip info-status <%= "#{ status.downcase }" %>'>
                                <%= status %>
                            </div>
                        </div>
                        <% if current_user != @user %>
                        <div class="col s12 m3">
                            <% if current_user.friends.include?(@user) %>
                                <%= link_to "Unfriend", user_friends_delete_path(current_user, friend_id: @user.id),
                                    action: "destroy",
                                    method: :delete, data: { confirm: "Are you sure?" },
                                    class: "btn waves-effect btn-light red darken-1" %>
                            <% elsif current_user.pending_friends.include?(@user) %>
                                <a class="btn disabled">Pending</a>
                            <% else %>
                                <%= link_to "Send request", user_friends_request_path(current_user, friend_id: @user.id),
                                    action: "send_request",
                                    method: :post,
                                    class: "btn waves-effect btn-light green darken-4" %>
                            <% end %>
                            <%= link_to "Send a Message", "#modal1",
                                class: "btn waves-effect btn-light indigo darken-4 modal-trigger" %>
                        </div>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <ul class="tabs" id="dashboard-tabs">
        <li class="tab col s3">
            <a href="#posts" class="active waves-effect">Posts</a>
        </li>
        <li class="tab col s3">
            <a href="#photos" class="waves-effect">Photos</a>
        </li>
        <li class="tab col s3">
            <a href="#groups" class="waves-effect">Groups</a>
        </li>
    </ul>

    <div class="container">
        <div id="posts" class="col s12">
            <div class="row">
                <%= render partial: 'users/partials/post_card', collection: @posts, as: :post %>
            </div>
        </div>
        <div id="photos" class="col s12">

        </div>
        <div id="groups" class="col s12">

        </div>
    </div>
</div>


<!-- Modal Structure -->
<div id="modal1" class="modal">
    <%= form_tag user_conversations_path(friend_id: @user.id),method: :post do %>
        <div class="modal-content">
            <h4>New message for <%= @user.name %></h4>
            <div class="container">
                    <div class="row">
                        <div class="col s12 input-field">
                            <%= label_tag :subject, "Subject:" %>
                            <%= text_field_tag :subject %>
                        </div>
                        <div class="col s12 input-field">
                            <%= label_tag :message, "Write a message: " %>
                            <%= text_area_tag :message, nil, class: "materialize-textarea" %>
                        </div>
                    </div>
            </div>
        </div>
        <div class="modal-footer">
            <%= submit_tag "Send Message", class: "modal-action waves-effect waves-green btn-flat" %>
            <a href="#" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
    <% end %>
</div>
