<div id="hero-background">

    <h1 id="login-title">Move</h1>
    <%= form_for(@user, url: {action: 'auth_local'}, html: { class: "card", role: "form", id: "login-form"}) do |f| %>
        <div class="card-content">
            <%= flash[:error] %>
            <div class="row">
                <div class="input-field col s12">
                    <%= f.text_field :email, class:"validate" %>
                    <%= f.label :email %>
                </div>
                <div class="input-field col s12">
                    <%= f.password_field :password, class:"validate" %>
                    <%= f.label :password %>
                </div>
                <div class="input-field col s12 center-align">
                    <%= f.submit "Iniciar Sesion", class: "waves-effect", id: "btn-login" %>
                    <p id="register-text">¿No tienes una cuenta? <%= link_to "Registrate", new_user_path %></p>
                </div>
            </div>
        </div>
    <% end %>

</div>
