<div id="hero-background-register">

    <h1 id="login-title">Move</h1>
    <%= form_for(@user, html: { class: "card", role: "form", id: "login-form", multipart: true}) do |f| %>
        <div class="card-content">
            <div class="row">
                <%= flash[:error] %>
                <div class="file-field input-field">
                    <div class="btn">
                        <span>Picture</span>
                        <%= f.file_field :user_picture %>
                    </div>
                        <div class="file-path-wrapper">
                        <input class="file-path validate" type="text">
                    </div>
                </div>
                <div class="input-field col s12">
                    <%= f.text_field :name, class:"validate" %>
                    <%= f.label :name %>
                </div>
                <div class="input-field col s12">
                    <%= f.email_field :email, class:"validate" %>
                    <%= f.label :emial %>
                </div>
                <div class="input-field col s12">
                    <%= f.text_field :country, class:"validate" %>
                    <%= f.label :country %>
                </div>
                <div class="input-field col s12">
                    <%= f.password_field :password, class:"validate" %>
                    <%= f.label :password %>
                </div>
                <div class="input-field col s12">
                    <%= f.phone_field :tel, class: "validate" %>
                    <%= f.label :tel %>
                </div>
                <div class="input-field col s12 center-align">
                    <%= f.submit "Registrarse", class: "waves-effect", id: "btn-login" %>
                    <p id="register-text">¿Ya tienes una cuenta? <%= link_to "Inicia sesión con tu cuenta", root_path %></p>
                </div>
            </div>
        </div>
    <% end %>

</div>
