<!-- Modal Structure -->
<div id='modal-<%= "#{obj.id}" %>' class="modal">
    <%= form_tag user_post_path(user_id: obj.user.id, id: obj.id), method: :put do %>
    <div class="modal-content">
        <h4>Edit Post</h4>
        <div class="row form-color">
            <div class="col s12 input-field">
                <%= label_tag :text, "Write the post content" %>
                <%= text_field_tag :text, nil, placeholder: "Write a comment", value: obj.text%>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <%= submit_tag "Edit Comment", class: "modal-action modal-close waves-effect waves-green btn-flat" %>
        <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
    </div>
    <% end %>
</div>
