<ul id="slide-out" class="side-nav fixed">
    <li>
        <div class="userView">
            <%= image_tag 'perfil-bg.png', class: 'background'%>
            <a href="#!user"><%= image_tag (@user.avatar.file?) ? @user.avatar.url(:thumb) : gravatar_for(@user, size: 1000), class: 'circle' %></a>
            <a href="#!name">
                <span class="white-text name"><%= @user.first_name %></span>
            </a>
            <a href="#!email">
                <span class="white-text email"><%= @user.email %></span>
            </a>
        </div>
    </li>
    <li>
        <%= link_to(user_path(@user), class: "waves-effect") do %>
            <i class="material-icons">cloud</i>
            Feed
        <% end %>
    </li>
    <li>
        <a href="#!" class="waves-effect">
            <i class="material-icons">people</i>
            Friends
        </a>
    </li>
    <li>
        <a href="#!" class="waves-effect">
            <i class="material-icons">dashboard</i>
            Dashboard
        </a>
    </li>
    <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
            <li>
                <a class="collapsible-header waves-effect">My Account<i class="material-icons">account_circle</i></a>
                <div class="collapsible-body">
                    <ul>
                        <li>
                            <%= link_to(edit_user_registration_path, class: "waves-effect secondary-item") do %>
                                <i class="material-icons">settings</i>
                                Edit Account
                            <% end %>
                        </li>
                        <li><a href="#!">Change Password</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </li>
    <li>
        <a href="#!" class="waves-effect">
            <i class="material-icons">pages</i>
            My Pages
        </a>
    </li>
    <li>
        <div class="divider"></div>
    </li>
    <li>
        <a class="subheader">Management</a>
    </li>
    <li>
        <%= link_to(edit_user_registration_path, class: "waves-effect secondary-item") do %>
            <i class="material-icons">settings</i>
            Edit Account
        <% end %>
    </li>
    <li>
        <%= link_to(destroy_user_session_path, method: :delete, class: "waves-effect secondary-item") do %>
            <i class="material-icons">exit_to_app</i>
            Log Out
        <% end %>
    </li>
    <li>
        <a class="waves-effect secondary-item" href="#!">
            <i class="material-icons">book</i>
            Documentation
        </a>
    </li>
</ul>
