<!DOCTYPE html>
<html>
    <head>
        <title>MoveRails</title>
        <%= csrf_meta_tags %>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <%= stylesheet_link_tag    'user-feed', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'user-feed', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>
        <%= render "layouts/navbar-left" %>
        <%= render "layouts/toolbar" %>
        <% if flash.count > 0 %>
            <div class="container container-relative">

                <% flash.each do |name, msg| %>
                    <div class='alert alert-<%= "#{name}" %> alert-dismissible fade in' role="alert" id="alert_message">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <%= content_tag :div, msg, id: "flash_#{name}" if msg.is_a?(String) %>
                    </div>
                <% end %>

            </div>
        <% end %>
        <%= yield %>

        <div class="fixed-action-btn vertical click-to-toggle" style="bottom: 45px; right: 24px;">
            <a class="btn-floating btn-large red tooltipped" data-position="left" data-delay="50" data-tooltip="Create a publication!">
                <i class="material-icons">add</i>
            </a>
            <ul>
                <li>
                    <a class="btn-floating pink tooltipped modal-trigger" data-position="left" data-delay="50" data-tooltip="Add photo" href="#modal-photo">
                        <i class="material-icons">add_a_photo</i>
                    </a>
                </li>
                <li>
                    <a class="btn-floating indigo darken-1 tooltipped modal-trigger" data-position="left" data-delay="50" data-tooltip="Create Album" href="#modal-album">
                        <i class="material-icons">add_to_photos</i>
                    </a>
                </li>
                <li>
                    <a class="btn-floating cyan tooltipped modal-trigger" data-position="left" data-delay="50" data-tooltip="Create a group" href="#modal-group">
                        <i class="material-icons">group_add</i>
                    </a>
                </li>
                <li>
                    <a class="btn-floating green darken-4 tooltipped modal-trigger" data-position="left" data-delay="50" data-tooltip="Add post" href="#modal-post">
                        <i class="material-icons">textsms</i>
                    </a>
                </li>
            </ul>
        </div>

        <!-- Modals for new publications -->
        <%= render "/layouts/modals/post_modal" %>
        <%= render "/layouts/modals/album_modal" %>
        <%= render "/layouts/modals/photo_modal" %>
        <%= render "/layouts/modals/group_modal" %>

        <%= render "layouts/footer" %>
    </body>
</html>
